@require '~vuetify/src/stylus/app.styl'
.page
  @extend .fade-transition

html,body
  height 100%
  overflow auto

.__nuxt-error-page
  .error
    background-color transparent !important
    border-color transparent !important
